<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Document</title>
</head>
<body>
    
    <div class="mainNav">
       
        <p1 class="p1">欢迎使用电子相册系统</p1>
        <div>
            <ul class="mainNav-ul">
                <li><a href="">动态</a></li>
                <li><a href="">我的相册</a></li>
                <li><a href="">我的相册</a></li>
                <li><a href="">我的相册</a></li>
            </ul>
        </div>
    </div>

    <div class = 'container'>
        <div class="LoginNav">
            <!-- <div><p1>登录导航栏</p1></div> -->
            <div class="user-header-text">Welcome to your e-album</div>
            <div class="user-header">
    
                <img src="{% static 'img/1.jpg' %}" alt=""/>
                <div class="user-id">zzzb18</div>
            </div>
        </div>
        
        <div class = 'SearchNav'>
            <p1>搜索导航栏</p1>
            <ul>
                <li><a href="">全部图片</a></li>
                <li><a href="">全部图片</a></li>
                <li><a href="">全部图片</a></li>
                <li><a href="">全部图片</a></li>
                <li><a href="">全部图片</a></li>
                <li><a href="">全部图片</a></li>
                <li><a href="">全部图片</a></li>
                <li><a href="">全部图片</a></li>
                
            </ul>
        </div>
    
        <div class = 'AlbumNav'>
            <!-- <div class="AlbumNav-text"> <p1>相册导航栏</p1></div> -->
            <div class="Albums">
                <div class="Album"><img src="{% static 'img/pictures/maksssksksss0.png' %}" alt=""/></div>
                <div class="Album"><img src="{% static 'img/pictures/maksssksksss1.png' %}" alt=""/></div>
                <div class="Album"><img src="{% static 'img/pictures/maksssksksss2.png' %}" alt=""/></div>
                <div class="Album"><img src="{% static 'img/pictures/maksssksksss3.png' %}" alt=""/></div>
                <div class="Album"><img src="{% static 'img/pictures/maksssksksss4.png' %}" alt=""/></div>
                <div class="Album"><img src="{% static 'img/pictures/maksssksksss5.png' %}" alt=""/></div>
            </div>
        </div>
    
    </div>
</body>
</html>